@import url('https://fonts.googleapis.com/css2?family=Diphylleia&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Special+Gothic+Expanded+One&display=swap');

:root {
    --primary-color: #fce9cd;
    --secondary-color: #cecabe;
    --text-color: #424848;
    --font-family: 'Special Gothic Expanded One','Merriweather', sans-serif;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:  "Special Gothic Expanded One", Merriweather, sans-serif, Diphylleia, Special Gothic;
    background-color: var(--primary-color);
}

h1, h2, h3, p {
    color: var(--text-color);
    font-family: var(--font-family);
}

.head {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 20px auto;
}

.avatar {
    min-width: 110%;
    height: 100%;
    border-radius: 100%;
    background-image: url('/src/img/avatar.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

main {
    margin: 0 auto;
    max-width: 1200px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

button {
    max-width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    color: var(--text-color);
    font-family: var(--font-family);
    border: 10px solid var(--text-color);
    font-size: 1.2rem;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: var(--text-color);
    color: var(--primary-color);
}

span {
    font-family: var(--font-family);
    font-size: 2rem;
    color: var(--text-color);
}

.vector {
    max-width: 20%;
}